<div class="row">
  
  <%= render 'devise/registrations/registrationmodal' %>
  <div id="wrapper">
  <div class="section intro">
  <div class="section-title">
    <h1 class="intro logo">OfficeScholar</h1>
    <h3 class="intro">Learn Microsoft Excel.  Start for free.</h3>
  </div>
  <div class="section-title">
    <a class="btn btn-primary btn-large" data-toggle="modal" href="#request-invite">Sign up for updates</a>
  </div>
  <div class="section-title next">
    <%= link_to 'Get started with our screencast tutorials for free <i class="icon-circle-arrow-down hero-next"></i>'.html_safe, "#", :id => "next1", :class=>"hero-next" %>
  </div>
</div>
  <div class="section">
  <div class="container">
  <div class="content">
    <h2 class="dark">Our Excel Tutorials</h2>
    <div class="row">
      <div class="span11">
        <h3>Introduction to Excel <small><%= link_to "($9.99 package price)", "/" %></small></h3>
        <div class="span2 course-summary">
          <div class="course-container">
            <h5>Getting Started <small>(FREE!)</small></h5>
            <ul class="course-intro">
              <li>Accessing Excel</li>
              <li>Navigation</li>
              <li>Ribbon Interface</li>
              <li><%= link_to "More...", "/" %></li>
            </ul>
          </div>
        </div> 
        <div class="span2 course-summary">
          <div class="course-container">
            <h5>Worksheet Basics <small>(FREE!)</small></h5>
            <ul class="course-intro">
              <li>Rows and columns</li>
              <li>Selecting data</li>
              <li>Manipulating data</li>
              <li><%= link_to "More...", "/" %></li>
            </ul>
          </div>
        </div> 
        <div class="span2 course-summary">
          <div class="course-container">
            <h5>Intro to Formulas <small>(FREE!)</small></h5>
            <ul class="course-intro">
              <li>Overview and uses</li>
              <li>Manual calculations</li>
              <li>Basic formulas</li>
              <li><%= link_to "More...", "/" %></li>
            </ul>
          </div>
        </div> 
        <div class="span2 course-summary">
          <div class="course-container">
            <h5>Formatting I <small>(FREE!)</small></h5>
            <ul class="course-intro">
              <li>Formatting text</li>
              <li>Formatting cells</li>
              <li>Alignment</li>
              <li><%= link_to "More...", "/" %></li>
            </ul>
          </div>
        </div>
        <div class="span2 course-summary">
          <div class="course-container">
            <h5>Intro to Charts <small>($2.99)</small></h5>
            <ul class="course-intro">
              <li>Chart types</li>
              <li>Column charts</li>
              <li>Pie charts</li>
              <li><%= link_to "More...", "/" %></li>
            </ul>
          </div>
        </div> 
        <div class="span2 course-summary">
          <div class="course-container">
            <h5>Data Analysis I <small>($2.99)</small></h5>
            <ul class="course-intro">
              <li>Sorting</li>
              <li>Filtering</li>
              <li>Basic analysis</li>
              <li><%= link_to "More...", "/" %></li>
            </ul>
          </div>
        </div> 
        <div class="span2 course-summary">
          <div class="course-container">
            <h5>Formulas II <small>($2.99)</small></h5>
            <ul class="course-intro">
              <li>Nested IF</li>
              <li>Vlookup</li>
              <li>SumIF/CountIF</li>
              <li><%= link_to "More...", "/" %></li>
            </ul>
          </div>
        </div> 
        <div class="span2 course-summary">
          <div class="course-container">
            <h5>Printing <small>($2.99)</small></h5>
            <ul class="course-intro">
              <li>Print preview</li>
              <li>Print preparation</li>
              <li>Headers/footers</li>
              <li><%= link_to "More...", "/" %></li>
            </ul>
          </div>
        </div>  
      </div>
    </div>  

    <div class="row">
      <div class="span11">
        <h3>Intermediate Tutorials <small><%= link_to "($9.99 package price)", "/" %></small></h3>
        <div class="span2 course-summary">
          <div class="course-container">
            <h5>Pivot Tables <small>($2.99)</small></h5>
            <ul class="course-intro">
              <li>Accessing Excel</li>
              <li>Navigation</li>
              <li>Ribbon Interface</li>
              <li><%= link_to "More...", "/" %></li>
            </ul>
          </div>
        </div> 
        <div class="span2 course-summary">
          <div class="course-container">
            <h5>Formulas III <small>($2.99)</small></h5>
            <ul class="course-intro">
              <li>Accessing Excel</li>
              <li>Navigation</li>
              <li>Ribbon Interface</li>
              <li><%= link_to "More...", "/" %></li>
            </ul>
          </div>
        </div> 
        <div class="span2 course-summary">
          <div class="course-container">
            <h5>Data Analysis II <small>($2.99)</small></h5>
            <ul class="course-intro">
              <li>Accessing Excel</li>
              <li>Navigation</li>
              <li>Ribbon Interface</li>
              <li><%= link_to "More...", "/" %></li>
            </ul>
          </div>
        </div> 
        <div class="span2 course-summary">
          <div class="course-container">
            <h5>Formatting II <small>($2.99)</small></h5>
            <ul class="course-intro">
              <li>Accessing Excel</li>
              <li>Navigation</li>
              <li>Ribbon Interface</li>
              <li><%= link_to "More...", "/" %></li>
            </ul>
          </div>
        </div>  
      </div>
    </div>

    <div class="row">
    <div class="span11">
      <h3>Instructor-Led Projects <small><%= link_to "($2.99 each)", "/" %></small></h3>
      <div class="span2 course-summary">
        <div class="course-container">
          <h5>Build a Budget <small>($2.99)</small></h5>
          <ul class="course-intro">
              <li>Accessing Excel</li>
              <li>Navigation</li>
              <li>Ribbon Interface</li>
              <li><%= link_to "More...", "/" %></li>
          </ul>
        </div>
      </div> 
      <div class="span2 course-summary">
        <div class="course-container">
          <h5>Valuation Models <small>($2.99)</small></h5>
          <ul class="course-intro">
              <li>Financial statements</li>
              <li>DCF analysis</li>
              <li>LBO analysis</li>
              <li><%= link_to "More...", "/" %></li>
          </ul>
        </div>
      </div> 
      <div class="span2 course-summary">
        <div class="course-container">
          <h5>Macros <small>($2.99)</small></h5>
          <ul class="course-intro">
              <li>tbd</li>
              <li>tbd</li>
              <li>tbd</li>
              <li><%= link_to "More...", "/" %></li>
          </ul>
        </div>
      </div> 
      <div class="span2 course-summary">
        <div class="course-container">
          <h5>Build a Database <small>($2.99)</small></h5>
          <ul class="course-intro">
              <li>Database structure</li>
              <li>Analytics</li>
              <li>Pivot tables</li>
              <li><%= link_to "More...", "/" %></li>
          </ul>
        </div>
      </div>  
    </div>
    </div>


    

    <div class="span11">
      <%= link_to 'See how it works <i class="icon-circle-arrow-down hero-next"></i>'.html_safe, "#", :id => "next3", :class=>"hero-next" %>
    </div>  
      
  </div>
  </div>
  </div>
  
  <div class="section intro">
    <div class="container">
    <div class="content">
      <h2 class="white">How it Works</h2>
      <div class="row">
        <div class="span3 how-it-works">
          <div class="how-it-works-icons-container">
            <i class="icon-facetime-video icon-4x"></i>
          </div>
          <h3 class="intro multiple-lines">Choose from our collection of Microsoft Excel screencast tutorials.</h3>
        </div>  
        <div class="span3 how-it-works">
          <div class="how-it-works-icons-container">
            <i class="icon-envelope icon-4x"></i>
          </div>
          <h3 class="intro multiple-lines">After paying by credit card or with PayPal, we email you a confirmation and a secure link.</h3>
        </div>
        <div class="span3 how-it-works">
          <div class="how-it-works-icons-container">
            <i class="icon-cloud-download icon-4x"></i>   
          </div>
          <h3 class="intro multiple-lines">Download the tutorial and supporting excel files to any device.</h3>
        </div>
      </div>  
      <div class="next-container">
      <%= link_to 'Learn more about OfficeScholar <i class="icon-circle-arrow-down hero-next"></i>'.html_safe, "#", :id => "next5", :class=>"hero-next" %>
      </div>
    </div>
  </div>

</div>
  <div class="section">
    <div class="container">
    <div class="content">  
    <h2 class="dark">About Us</h2>
    <div class="row">
      <div class="span11">
        <h3>We Teach You Excel</h3>
        <p>OfficeScholar specializes in screencast tutorials for beginner and intermediate Excel users.</p>
        <p>Our curriculum takes a fresh approach to an often dull topic, combining principles used by business professionals and academics.  We have carefully designed our lessons and projects to be as efficient as possible, focusing on the areas most critical to being productive with Excel.</p>
        <h3>Meet your Instructor</h3>
        <p>Pat Vihtelic is the chief instructor and founder of OfficeScholar.  He most recently worked as a technology investment banker for over four years, where he relied heavily on Microsoft Office products.  Pat is a graduate of Indiana University and peer tutored for the Kelley School of Business honors Excel course during college.  He is also a graduate of The Starter League, a Chicago-based program dedicated to teaching web development using Ruby on Rails.</p>
        <h3>Contact for on-site employee training</h3>
        <p>Pat Vihtelic, Chief Instructor and Founder </br>
          <%= mail_to "pat@officescholar.com" %> </br>
          +1 312.379.9677 </br>
          Chicago, IL </br>
        </p>
      </div>
    </div>  
    <div class="span11">
        <div class="end">
          <a class="btn btn-primary btn-large" data-toggle="modal" href="#request-invite">Sign up for updates </a>
        </div>
      </div>  
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>