<div class="row">
  <div class="container">
    
      <div class="show-span first-show">
        <h3 class="dark show top-show"><%= @topic.title %> <small>| <%= @topic.length %> minute screencast | <% if @topic.tutorial.package.title == "Introduction to Excel" %>
                <%= "Beginner" %>
                <% else %>
                <%= "Intermediate" %>
                <% end %> </small></h3>
          <div id="myElement">Loading the player...</div>
            <script type="text/javascript">
                $(document).ready(function(){
                  jwplayer("myElement").setup({
                      players: [{type: "flash", src:'/jwplayer/player.swf'}],
                      height: 525,
                      width: 900,
                      'invideous.pid': '96274',
                      'invideous.video_id': '10053143',
                      plugins: 'http://plugin.invideous.com/v5/invideous.swf',
                      file: '<%= @topic.topic_path %>',
                      volume: 75,
                      controlbar: "bottom",
                  });              
                });
            </script>
          <div class="tutorial-show-span-pull-left">
            <h3 class="dark show below-video">Episode
              <% if @topic.tutorial.package.id == 2 %> 
                  #<%= @topic.id - @topic.tutorial.package.tutorials.count %>
                <% else %> 
                  #<%= @topic.id %>
              <% end %> - <%= @topic.tutorial.package.title %></h3>
          </div>
          <div class="download-span-pull-right">      
            
          </div>  
        </div>        
        <div class="show-span">
          <div class="description-show-span-pull-left">
            <h3>Description</h3>
            <p><%= @topic.description %></p>
            <p>Download the Excel file used in this episode for free.</p>
            <%= link_to "Excel Tutorial File <i class='icon-cloud-download'></i>".html_safe, "#{@topic.tutorial.excel_path}", :target => "_blank", :class=>"btn btn-primary" %> 
          </div>  
          <div class="topics-span-pull-right">      
            <h3>All Topics In This Series</h3>
            <ul class="topic-list">
              <% @topic.tutorial.topics.each do |topic| %>
              <li class="course-summary-topics"><%= link_to topic.title, topic_url(topic.id) %></li>
              <% end %>
            </ul>
          </div>  
        </div>
      </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="show-span">
            <h3>Skill Assessment</h3>
            <p>After finishing each of the screencasts for this topic's tutorial - <%= @topic.tutorial.title %> - try putting your Excel knoweldge to the test!</p>

            <p>Simply download our quiz, then upload your answers to our secure server below.  We will review your work and let you know where you need improvement or if you've earned the tutorial's skill certificate, which lists the areas you've been tested on along with OfficeScholar's seal of approval.</p>

            <p>As a reminder, you can also access all of the quizzes through your <%= link_to "Account Overview", user_url %> after signing in.</p>

            <h4 class="skill-assessment-download-heading">Download, Open and Follow the Directions</h4>
            <%= link_to "Skill Assessment <i class='icon-cloud-download'></i>".html_safe, "#{@topic.tutorial.excel_path}", :target => "_blank", :class=>"btn btn-primary" %>

            
            <h4 class="skill-assessment-download-heading">After Completing, Submit Your Excel File for Review</h4>

            <% if !@quiz.nil? %>
              <%= simple_form_for :quiz, :url => url_for(:action => 'update', :controller => 'quizzes'), :html => { :multipart => true, :method => "put" } do |form| %>

                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <span class="btn btn-file">Select Your Answer File<%= form.file_field :quiz_path %><span class="fileupload-new"></span><span class="fileupload-exists"></span><input type="file" /></span>
                  <span class="fileupload-preview"></span>
                  <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>

                  <%= form.hidden_field :tutorial_id, :value => @topic.tutorial.id %>
                  <%= form.hidden_field :blank_quiz_id, :value => @topic.tutorial.id %>
                  
                  <% if !@user.nil? %>
                    <%= form.hidden_field :user_id, :value => @user.id %>
                  <% end %>
                  
                  <button type="submit" class="btn btn-primary">Submit</button>

                </div>

                <% end %>

            <% else %>

              <%= simple_form_for :quiz, :url => "/quizzes", :html => { :multipart => true } do |form| %>

              <div class="fileupload fileupload-new" data-provides="fileupload">
                <span class="btn btn-file">Select Your Answer File<%= form.file_field :quiz_path %><span class="fileupload-new"></span><span class="fileupload-exists"></span><input type="file" /></span>
                <span class="fileupload-preview"></span>
                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>

                <%= form.hidden_field :tutorial_id, :value => @topic.tutorial.id %>
                <%= form.hidden_field :blank_quiz_id, :value => @topic.tutorial.id %>
                
                <% if !@user.nil? %>
                  <%= form.hidden_field :user_id, :value => @user.id %>
                <% end %>
                
                <button type="submit" class="btn btn-primary">Submit</button>

              </div>

              <% end %>

            <% end %>


          </div>
        </div>
      </div>        


<div class="row">
  <div class="container">
    <div class="span11">
      <h3>Post a Comment</h3>
      <%= render "layouts/comments" %>
    </div>
  </div>
</div>