<div class="row">
  <div class="container">
    
      <div class="show-span first-show">
        <h3 class="dark show top-show"><%= @topic.title %> <small>| <%= @topic.length %> minute screencast | <% if @topic.tutorial.package.title == "Introduction to Excel" %>
                <%= "Beginner" %>
                <% else %>
                <%= "Intermediate" %>
                <% end %> </small></h3>
          <div id="myElement">Loading the player...</div>
            <script type="text/javascript">
                $(document).ready(function(){
                  jwplayer("myElement").setup({
                      players: [{type: "flash", src:'/jwplayer/player.swf'}],
                      height: 525,
                      width: 900,
                      file: '<%= @topic.topic_path %>',
                      volume: 75,
                      controlbar: "bottom",
                  });              
                });
            </script>
          <div class="tutorial-show-span-pull-left">
            <h3 class="dark show below-video">Episode
              <% if @topic.tutorial.package.id == 2 %> 
                  #<%= @topic.id - @topic.tutorial.package.tutorials.count %>
                <% else %> 
                  #<%= @topic.id %>
              <% end %> - <%= @topic.tutorial.title %></h3>
          </div>
          <div class="download-span-pull-right">      
            
          </div>  
        </div>        
        <div class="show-span">
          <div class="description-show-span-pull-left">
            <h3>Description</h3>
            <p><%= @topic.description %></p>
            <p>Download the Excel file used in this episode for free.</p>
            <%= link_to "Excel Tutorial File <i class='icon-cloud-download'></i>".html_safe, "#{@topic.tutorial.excel_path}", :target => "_blank", :class=>"btn btn-primary" %> 
          </div>  
          <div class="topics-span-pull-right">      
            <h3>All Topics In This Series</h3>
            <ul class="topic-list">
              <% @topic.tutorial.topics.each do |topic| %>
              <li class="course-summary-topics"><%= link_to topic.title, topic_url(topic.id) %></li>
              <% end %>
            </ul>
          </div>  
        </div>
      </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="show-span">
            <h3>Skill Assessment</h3>
            <p>After mastering each of the topics in the <%= @topic.tutorial.title %> series, try putting your Excel knoweldge to the test!</p>

            <p>Simply download our Skill Assessment, then upload your answer file.  We will review and let you know if your Skill Assessment needs improvement or if you earned the certificate of completion.</p>

            <p>Manage all Skill Assessments through your <%= link_to "Dashboard", user_url %> after signing in.</p>

            <h4 class="skill-assessment-download-heading">Download, Open and Follow the Directions</h4>
            <%= link_to "Skill Assessment <i class='icon-cloud-download'></i>".html_safe, "#{@topic.tutorial.excel_path}", :target => "_blank", :class=>"btn btn-primary" %>

            
            


          </div>
        </div>
      </div>        


<div class="row">
  <div class="container">
    <div class="span11">
      <h3>Leave a Comment</h3>
        <div class="span11 disqus-container">
        <%= render "layouts/comments" %>
        </div>
    </div>
  </div>
</div>