<div class="row">
  <div class="container">
    
      <div class="show-span first-show">
        <h3 class="dark show top-show"><%= @topic.title %> <small>| <%= @topic.length %> minute screencast</small></h3>
          <div id="myElement">Loading the player...</div>
            <script type="text/javascript">
                $(document).ready(function(){
                  jwplayer("myElement").setup({
                      height: 525,
                      width: 900,
                      file: '<%= @topic.topic_path %>',
                      volume: 75,
                      controlbar: "bottom",
                      logo: {
                        hide: true
                      },
                  });              
                });
            </script>
          <div class="tutorial-show-span-pull-left">
            <h3 class="dark show below-video">Episode
              <% if (@topic.id - @first_topic.id) > 1 %> 
                  #<%= @topic.id - @first_topic.id + 1 %>
                <% else %> 
                  #1
              <% end %></h3>
          </div>
          <div class="download-span-pull-right">      
            
          </div>  
        </div>        
        <div class="show-span">
          <div class="description-show-span-pull-left">
            <h3>Description</h3>
            <p><%= @topic.description %></p>
            <p>Download the Excel file used in this episode for free.</p>
            <%= link_to "Excel Tutorial File <i class='icon-cloud-download'></i>".html_safe, "#{@topic.tutorial.excel_path}", :target => "_blank", :class=>"btn btn-primary" %> 
          </div>  
          <div class="topics-span-pull-right">      
            <h3>All Topics In This Series</h3>
            <ul class="topic-list">
              <% @topic.tutorial.topics.each do |topic| %>
              <li class="course-summary-topics"><%= link_to topic.title, topic_url(topic.id) %></li>
              <% end %>
            </ul>
          </div>  
        </div>
      </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="show-span">

          <ul class="nav nav-tabs bottom-show-tab">
            <li class="active">
              <a href="#skill-assessment-summary" data-toggle="tab">Skill Assessment</a>
            </li>
            <li>
              <a href="#transcript" data-toggle="tab">Transcript</a>
            </li>
          </ul>

          
          <div class="tab-content">
            <div class="tab-pane active" id="skill-assessment-summary">           
              
              <h3>Excel-Based Skill Assessment</h3>
              <p>After mastering each of the topics in the <%= @topic.tutorial.title %> series, try putting your Excel knoweldge to the test!</p>

              <p>Simply download our Skill Assessment, then upload your answer file.  We will review and let you know if your Skill Assessment needs improvement or if you earned the certificate of completion.</p>

              <p>Manage all Skill Assessments through your <%= link_to "Dashboard", user_url %> after signing in.</p>
 
              <h4 class="skill-assessment-download-heading">Download, Open and Follow the Directions</h4>
              <% if !@topic.tutorial.blank_quizzes.first.nil? %>
                <%= link_to "Skill Assessment <i class='icon-cloud-download'></i>".html_safe, "#{@topic.tutorial.excel_path}", :target => "_blank", :class=>"btn btn-primary" %>
              <% else %>
                <p style="color: green;">We'll get a Skill Assessment posted soon for this topic!  In the meantime, please let us know if you want one by leaving a comment below or giving feedback on the left.</p>
              <% end %>

            </div>

            <div class="tab-pane" id="transcript">
              <h3>Text Transcript  <button class='btn show_hide' type='button' id='hideshow' value='hide/show'>Edit</button></h3>
              <% if !@topic_transcript.nil? %>
                <div class="slidingDiv">
                  <div id='content'>
                    <%= form_for(@topic_transcript) do |f| %> 
                      <%= f.text_area :content, :value => @topic_transcript.content, class: 'wysihtml5' %>
                      <%= f.submit 'Submit Edit', class: 'btn btn-primary submit-edit' %>
                    <% end %>
                  </div>
                </div>
                <div class="div-content-editor">
                  <%= raw @topic_transcript.content %>
                </div>
              <% else %>
                <p>No transcript added yet. Stay tuned please, it will be coming soon!</p>
              <% end %>
          </div>
            
            


          </div>
        </div>
      </div>   
      </div>        


<div class="row">
  <div class="container">
    <div class="span11">
      <h3>Leave a Comment</h3>
        <div class="span11 disqus-container">
        <%= render "layouts/comments" %>
        </div>
    </div>
  </div>
</div>