<div class="row">
  	<div class="container form-pages">
      	<div class="span11">
      		<h3 class="dark show package">My Dashboard</h3>

			<ul class="nav nav-tabs">
			  <li class="active">
			    <a href="#skill-assessment-summary" data-toggle="tab">Skill Assessments</a>
			  </li>
			  <li>
			  	<a href="#account-summary" data-toggle="tab">Account Summary</a>
			  </li>
			</ul>

			  <div class="tab-content">
			  	<div class="tab-pane active" id="skill-assessment-summary">	
			  		<h3>Skill Assessments</h3>
			  		<p>Test your abilities with real Excel files, gain expert feedback and earn certificates of completion for passing.</p>
			  		
			  		<ul class="topic-list">
			  			<li class="course-summary-topics"><strong>Download</strong> a Skill Assessment Excel file.</li>
			  			<li class="course-summary-topics"><strong>Complete</strong> by opening the file and following the directions.  Save your work!</li>
			  			<li class="course-summary-topics"><strong>Upload</strong> your Skill Assessment to OfficeScholar after logging in.  You will see your results immediately.</li>

			  		</ul>

				  	</br>
				  	<div class="course-summary upload-container">
					  	<h4 class="upload-container-header">Submit a Skill Assessment</h4>
					  	<%= simple_form_for :quiz, :url => "/quizzes", :html => { :multipart => true } do |form| %>


					  		<div class="fileupload fileupload-new" data-provides="fileupload">
			                <span class="btn btn-file">Select Your Answer File<%= form.file_field :quiz_path %><span class="fileupload-new"></span><span class="fileupload-exists"></span><input type="file" /></span>
			                <span class="fileupload-preview"></span>
			                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>	

				    		
				            <% if !@user.nil? %>
				                <%= form.hidden_field :user_id, :value => @user.id %>
				            <% end %>
				            <%= collection_select(:quiz, :title, @blank_quizzes.sort_by(&:title), :title, :title, prompt: "Choose The Topic") %>
							<button type="submit" class="btn btn-primary custom-submit-button">Submit</button>
							</div>

				        <% end %>
				    </div>


					<table class="table table-hover">
					  <tr>
					    
					    <th>Skill Assessments</th>

					    <th>Your Submitted Skill Assessments</th>
					    <th>Time Submitted</th>
					    <th>Score</th>
					    <th>Status</th>
					    <th>Delete</th>
					  </tr>

					<% if !@blank_quizzes.blank? %>
						<% @blank_quizzes.each do |blank_quiz| %>
						  <tr>
						    <td><%= link_to "#{blank_quiz.title} <i class='icon-cloud-download'></i>".html_safe, blank_quiz.url, :target => "_blank" %></td>
						    <td>
						    	<% @relevant_quiz = @quizzes.where(:title => blank_quiz.title).last %>
						    	<% if @relevant_quiz.nil? %>
						    		Nothing Submitted
						    	<% else %>
						    		<%= @relevant_quiz.quiz_path_file_name %>
						    	<% end %>
						    </td>
						    	

							    <td>
							    	<% if !@relevant_quiz.nil? %>
							    		<%= @relevant_quiz.created_at.to_formatted_s(:short) %> ET
							    	<% end %>
							    </td>
							    <td>
							    	<% if !@relevant_quiz.nil? %>
							    		<%= @relevant_quiz.question_1 + @relevant_quiz.question_2 + @relevant_quiz.question_3 + @relevant_quiz.question_4 + @relevant_quiz.question_5 %> / 5
							    	<% end %>

							    </td>	
							    <td>
							    	<% if !@relevant_quiz.nil? %>
							    		<% if @relevant_quiz.status == 1 %>
							    			
							    			

							    		<% elsif @relevant_quiz.status == 2 %>
											
							    			<%= link_to('<i class="icon-envelope icon-large"'.html_safe, '#', :class => "popover-icons", :rel => "popover", :title => "#{pluralize(5 - (@relevant_quiz.question_1 + @relevant_quiz.question_2 + @relevant_quiz.question_3 + @relevant_quiz.question_4 + @relevant_quiz.question_5), "Question")} to Fix Before Passing", "data-content" => "#{render 'layouts/popover_feedback'}") %>

							    	
							    		<% elsif @relevant_quiz.status == 3  %>

							    			<%= link_to('<i class="icon-trophy icon-large"'.html_safe, '#', :class => "popover-icons", :rel => "popover", :title => "Congratulations, You Passed!", "data-content" => "You completed the #{@relevant_quiz.title.html_safe} Skill Assessment!  We'll be adding more skill assessments soon so please check back!") %>

							    		<% else %>
							    		<% end %>
							    	<% end %>
						    	</td>
						    	<td>
						    		<% if !@relevant_quiz.nil? %>
						    		<%= link_to '<i class="icon-trash icon-large"'.html_safe, destroy_multiple_quizzes_path(:quiz => @quizzes.where(:title => @relevant_quiz.title).map(&:id)), method: :delete, data: { confirm: "Are you sure you want to permanently delete your #{@relevant_quiz.title} Skill Assessment?  It will not be recoverable." } %>
						    		<% end %>
						    	</td>
						    		
						  </tr>
						
						<% end %>
						</table>
						
						<% else %>
						
						</table>
						
						<div class="alert alert-error">
							<h4>You haven't taken any skill assessments yet - check out <%= link_to 'Our Excel Tutorials', root_path(:controller => "home", :anchor => "our-excel-tutorials") %> first!</h4>
						</div>

					<% end %>

			</div>
			

			
		  	<div class="tab-pane" id="account-summary">			
				<h3>My Account Summary</h3>
				<h4>Edit Account Information</h4>
				<p><%= link_to('Click here to edit your account <i class="icon-cog"></i>'.html_safe, edit_user_registration_path) %></p>
				<h4>Email Address</h4>
				<p><%= @user.email %></p>
				<h4>Total Skill Assessments Submitted</h4>
				<p><%= @user.quizzes.count %></p>
				<h4>Skill Assessments Passed</h4>
				<p><%= @quizzes_passed.count %></p>
				<h4>Skill Assessments Under Review</h4>
				<p><%= @quizzes_under_review.count %></p>
				<h4>Last Login</h4>
				<p><%= @user.last_sign_in_at.to_formatted_s(:long_ordinal) %> ET</p>
				<h4>Total Logins</h4>
				<p> <%= current_user.sign_in_count %> </p>
		
			</div>
					
		</div>	
</div>
</div>
</div>