<div class="row">
  
  <div id="wrapper">
    <div class="section intro">
      <div class="container">
        
        <div class="span4 left-home-container">
          
          <div class="section-title">
            <h2 class="intro logo">OfficeScholar</h2>
            <h4 class="intro">Learn Microsoft Excel and test your skills for free.</h3>
            
            <h3 class="left-home-below-logo">Popular Excel Screencasts</h3>  
            
            <ul>
              <% @topics_preview.each do |topic| %>
              <li class="course-summary-list">
                
                  
                  <%= link_to(topic_url(topic.id)) do %> 
                  <div class="span2 course-summary topic-tile">
                        <div class="play-icon-container">
                          <i class="icon-play-circle icon-2x"></i>
                        </div>
                        <div class="topic-tile-details">
                          <% if topic.length > 0 %>
                            <small><%= topic.length %> min.</small>
                          <% else %>
                            <small>&lt;1 min.</small>
                          <% end %>
                        </div>
                        <h6><%= topic.title %></h6>
                        <small> <%= topic.tutorial.title %> </small>
                  </div>
                  <% end %>      


              </li>
              <% end %>
            </ul>
          </div>
          
          <div class="section-title next">
          <%= link_to 'Check Out Our Library of Tutorials <i class="icon-circle-arrow-down"></i>'.html_safe, "#", :class=>"hero-next btn btn-primary btn-large", :id => "next1" %>
          </div>

        </div>

        <div class="span4 right-home-container">
          <% if current_user.nil? %>
          <div class="form-box course-summary course-summary-home">
              <%= render "layouts/signup_form" %>
          </div>
          <% else %> 
            <%= link_to(user_url(current_user.id)) do %>
              <div class="form-box course-summary course-summary-home-signed-in">
                <h5>Hello, <%= current_user.email %>!</h5>
                <p>Click here for to view our Excel Skill Assessments or check your dashboard for progress!</p>
              </div>
            <% end %>  
          <% end %>
          </div>
        
      </div>    
    </div>  


    <div class="section" id="our-excel-tutorials">
      <div class="container">
        <div class="content">
        <h3 class="dark">Our Excel Tutorials</h3>

        <div class="row">
          <div class="span11">
            <ul class="ul-index-row">
              <% @tutorials.each do |tutorial| %>
              <li class="course-summary-list">
                <div class="tutorial-row-container">
                  <div class="span4 left-home-container index-tutorials-left">
                  <%= link_to(tutorial_url(tutorial.id), :class => "link-tutorial-summary-title") do %>
                    <h3><%= tutorial.title %></h3>
                    <p><%= tutorial.topics.count %> lessons | <%=tutorial.topics.map(&:length).sum %> minutes total</p>
                    <p><%= tutorial.description %></p>
                    <% if !tutorial.blank_quizzes.first.nil? %>
                      <%= link_to 'Skill Assessment <i class="icon-cloud-download"></i>'.html_safe, tutorial.blank_quizzes.first.url, :target => "_blank", :class=>"hero-next btn btn-primary index-skill-download" %> </br>
                      <% if !current_user.nil? %>
                        <%= link_to 'Submit Your Answers <i class="icon-cloud-upload"></i>'.html_safe, "/users/#{current_user.id}" %>
                      <% else %>
                        <%= link_to 'Sign In to Submit Your Answers', new_user_registration_path %>
                      <% end %>
                    <% end %> 


                    <% end %>
                  </div>
                  <div class="span4 right-home-container index-tutorials-right">
                    <ul>
                    <% tutorial.topics.each do |topic| %>
                      <li class="course-summary-list">
                          <%= link_to(topic_url(topic.id)) do %> 
                          <div class="span2 course-summary topic-tile topic-tile-index">
                                <div class="play-icon-container">
                                  <i class="icon-play-circle icon-2x"></i>
                                </div>
                                <div class="topic-tile-details">
                                  <% if topic.length > 0 %>
                                    <small><%= topic.length %> min.</small>
                                  <% else %>
                                    <small>&lt;1 min.</small>
                                  <% end %>
                                </div>
                                <h6><%= topic.title %></h6>
                                <small> <%= topic.tutorial.title %> </small>
                          </div>
                          <% end %>      
                      </li>
                    <% end %>
                  </ul>
                  </ul>
                  </div>  



                </div>  
              </li>
              <% end %>
            </ul>  


            
	
	   
  <div class="row">
    <div class="span11">  
      <h3>Curriculum Development</h3>
      <p>We are constantly adding to our library of screencast tutorials.</p>
      <p>Soon we will be adding additional Beginner episodes, as well as Intermediate and Advanced Excel screencast tutorials to help you continue to grow your skill set.  If there is anything you'd like to see OfficeScholar cover, <%= mail_to "info@officescholar.com", "let us know!" %></p>
      <p>Episodes currently being produced:</p>
      <ul class="course-intro">
        <li class="course-summary-topics">Goal Seek</li>
        <li class="course-summary-topics">Formulas II</li>
        <li class="course-summary-topics">What If Analysis</li>
        <li class="course-summary-topics">Formatting II</li>
        <li class="course-summary-topics">Intermediate Pivot Tables</li>
      </ul>
    </div>
  </div>


    

    <div class="span11 link-to-next">
      <%= link_to 'See how it works <i class="icon-circle-arrow-down"></i>'.html_safe, "#", :id => "next3", :class=>"hero-next link-how-it-works" %>
    </div>  
      
  </div>
  </div>
  </div>

  <div class="section intro" id="how-it-works">
    <div class="container">
    <div class="content">
      <h3 class="white">How it Works</h3>
      <div class="row">
        <div class="span3 how-it-works">
          
          <%= link_to("#", :id => "next1bottom") do %>
            <div class="how-it-works-icons-container">
              <i class="icon-facetime-video icon-4x"></i>
            </div>
          <% end %>
            <h3 class="intro multiple-lines">Check out our collection of Microsoft Excel screencast tutorials.</h3>
            </br>
            <p>From begginer to advanced topics. Watch an entire episode or shorter lesson clips.</p>
          
        </div>  
        <div class="span3 how-it-works">
          
          <%= link_to("#", :id => "next1bottom2") do %>
            <div class="how-it-works-icons-container">
              <i class="icon-cloud-download icon-4x"></i>   
            </div>
          <% end %>
            <h3 class="intro multiple-lines">Download our free Excel Skill Assessments and practice files.</h3>
            </br>
            <p>After opening an Excel Skill Assessment file, follow the instructions before submitting.</p>
        </div>
        <div class="span3 how-it-works">
          <%= link_to(new_user_registration_path) do %>
            <div class="how-it-works-icons-container">
              <i class="icon-lightbulb icon-4x"></i>   
            </div>
          <% end %>  
          <h3 class="intro multiple-lines">Sign up to submit a Skill Assessment and gain real feedback until you pass.</h3>
        </br>
          <p>Earn OfficeScholar Certificates and gain valuable feedback on your work (free proof that you learned something).</p>
        </div>
      </div>  
      <div class="next-container">
      <%= link_to 'Learn more about OfficeScholar <i class="icon-circle-arrow-down"></i>'.html_safe, "#", :id => "next5", :class=>"hero-next" %>
      </div>
    </div>
  </div>

</div>
  <div class="section" id="about">
    <div class="container">
    <div class="content">  
    <h3 class="dark">About</h3>
    <div class="row">
      <div class="span11">
        <h3>We Teach You Microsoft Excel</h3>
        <p>OfficeScholar specializes in screencast tutorials for beginner to advanced Excel users.</p>
        <p>Our curriculum takes a fresh approach to an often dull topic, combining principles used by business professionals and academics.  We have carefully designed our lessons and projects to be as efficient as possible, focusing on the areas most critical to being productive with Excel.</p>
        
        <h3>How Can OfficeScholar Help Your Business?</h3>
        <p>We offer a number of corporate services designed to get your employees productive with Excel.  Whether you need workforce training, custom screencast reference material or ideas on how to streamline your Excel projects, OfficeScholar can help.</p>
        <ul class="topic-list">
          <li class="course-summary-topics no-bullet-list"><h4>Custom Excel Training</h4> 
            <p>Improve the productivity of your workforce with training material that is relevant to the job function.  Produced for your business-specific tasks and available on-demand in an online screencast format or on-site.</p></li>
          <li class="course-summary-topics no-bullet-list"><h4>Hosted Knowledge Repository</h4> 
            <p>Your employees can securely reference help mateerial, screencasts and templates worldwide when they are stuck or need help.  Why make them call IT or bother a co-worker when they can just go to OfficeScholar for their troublshooting answer?</p></li>
          <li class="course-summary-topics no-bullet-list"><h4>Project and Problem-Based Consulting</h4> 
            <p>When you need an expert to accelerate a deliverable, OfficeScholar can step in quickly for a consultation.  Online sessions include screen sharing for easier collaboration.</p></li>
          <li class="course-summary-topics no-bullet-list"><h4>Job Candidate Evaluation</h4> 
            <p>Our one-of-a-kind Excel Skill Assessment tests are fully administered online and can also be tailored to closely fit the needs of your business.  Be sure about the Excel skills of the candidate you're about to hire.</p></li>
        </ul>
        
        <p class="p-below-ul">For more information, please contact us at <%= mail_to "sales@officescholar.com" %>.</p>

        <h3>Meet Your Instructor</h3>
        <p>Pat Vihtelic is the chief instructor and founder of OfficeScholar.  He most recently worked as a technology investment banker for over four years at William Blair &amp; Company, where he relied heavily on Microsoft Office products, completing over 20 IPO and M&amp;A transactions.</p>  
        <p>Pat is a graduate of Indiana University and peer tutored for the Kelley School of Business honors Excel course during college.  He is also a graduate of The Starter League, a Chicago-based program dedicated to teaching web development using Ruby on Rails.  When he isn't developing Excel curriculum, you can find him coding, skiing or spending time with family and friends.</p>
        <p>Contact him directly at <%= mail_to "pat@officescholar.com" %>. </p>
        <h3>Contact Information</h3>
        <p>OfficeScholar</br>
          600 N. Kingsbury</br>
          Suite 1002</br>
          Chicago, IL 60654</br>
        </p>
        <p>Email: <%= mail_to "info@officescholar.com" %> </br>
          Phone: +1 312.379.9677 </p>
      </div>
    </div>  
    
    </div>
    </div>

    </div>
    </div>
    </div>
  </div>