<div class="row">
  
  <%= render 'devise/registrations/registrationmodal' %>
  <div id="wrapper">
  <div class="section intro">
  <div class="section-title">
    <h1 class="intro logo">OfficeScholar</h1>
    <h3 class="intro">Learn Microsoft Excel.  Start for free.</h3>
  </div>
  <div class="section-title">
    <a class="btn btn-primary btn-large" data-toggle="modal" href="#request-invite">Sign up for updates</a>
  </div>
  <div class="section-title next">
    <%= link_to 'Get started with our screencast tutorials for free <i class="icon-circle-arrow-down"></i>'.html_safe, "#", :id => "next1", :class=>"hero-next" %>
  </div>
</div>
  <div class="section">
  <div class="container">
  <div class="content">
    <h3 class="dark"><a name="our-excel-tutorials" class="anchor-navigation">Our Excel Tutorials</a></h3>

    <div class="row">
      <div class="span11">
        <%= link_to(package_url(1), :class => "link-tutorial-summary-title") do %>
        <h3>Introduction to Excel <small><%= @packages[0].tutorials.count %> lessons | 3 hrs. | <%= number_to_currency(@packages[0].price) %></small></h3>
        <% end %>
        <ul>
        <% @intro_tutorials.each do |intro_tutorial| %>
        <li class="course-summary-list">
	        <div class="span2 course-summary">
	          <div class="course-container">
	            <h4 class="tutorial-summary-title"><%= link_to "#{intro_tutorial.title}", tutorial_url(intro_tutorial.id), :class => "link-tutorial-summary-title" %></br><small>
	            <% if intro_tutorial.price>0 %>
	            	<%= link_to "#{number_to_currency(intro_tutorial.price)}", tutorial_url(intro_tutorial.id), :class => "price-link-tutorial-summary-title" %>
	            <% else %>
	            	<%= link_to "(FREE!)", tutorial_url(intro_tutorial.id), :class => "price-link-tutorial-summary-title" %>
	            <% end %>
	            </small></h4>
	            <ul class="course-intro">
	              <li class="course-summary-topics">
	              	<% if !intro_tutorial.topics.first.nil? %>
	              	<%= intro_tutorial.topics.first.title %>
	              	<% end %>
	              </li>
	              <li class="course-summary-topics">
	              	<% if !intro_tutorial.topics[1].nil? %>
	              	<%= intro_tutorial.topics[1].title %>
	              	<% end %>
	              </li>
	              <li class="course-summary-topics">
	              	<% if !intro_tutorial.topics[2].nil? %>
	              	<%= intro_tutorial.topics[2].title %>
	              	<% end %>
	              </li>
	              <li class="course-summary-topics"><%= link_to "More...", tutorial_url(intro_tutorial.id) %></li>
	            </ul>
	          </div>
	        </div>
	        <% end %> 
	    </li>
		</ul>
	</div>
	</div>
	
	        
        

  <div class="row">
      <div class="span11">
        <%= link_to(package_url(2)) do %>
          <h3>Intermediate Excel <small><%= @packages[1].tutorials.count %> lessons | 3 hrs. | <%= number_to_currency(@packages[1].price) %></small></h3>
        <% end %>  
        <ul>
        <% @intermediate_tutorials.each do |intermediate_tutorial| %>
        <li class="course-summary-list">
          <div class="span2 course-summary">
            <div class="course-container">
              <h4 class="tutorial-summary-title"><%= link_to "#{intermediate_tutorial.title}", tutorial_url(intermediate_tutorial.id), :class => "link-tutorial-summary-title" %></br><small>
              <% if intermediate_tutorial.price>0 %>
                <%= link_to "#{number_to_currency(intermediate_tutorial.price)}", tutorial_url(intermediate_tutorial.id), :class => "price-link-tutorial-summary-title" %>
              <% else %>
                <%= link_to "(FREE!)", tutorial_url(intermediate_tutorial.id), :class => "price-link-tutorial-summary-title" %>
              <% end %>
              </small></h4>
              <ul class="course-intro">
                <li class="course-summary-topics">
                  <% if !intermediate_tutorial.topics.first.nil? %>
                  <%= intermediate_tutorial.topics.first.title %>
                  <% end %>
                </li>
                <li class="course-summary-topics">
                  <% if !intermediate_tutorial.topics[1].nil? %>
                  <%= intermediate_tutorial.topics[1].title %>
                  <% end %>
                </li>
                <li class="course-summary-topics">
                  <% if !intermediate_tutorial.topics[2].nil? %>
                  <%= intermediate_tutorial.topics[2].title %>
                  <% end %>
                </li>
                <li class="course-summary-topics"><%= link_to "More...", tutorial_url(intermediate_tutorial.id) %></li>
              </ul>
            </div>
          </div>
          <% end %> 
      </li>
    </ul>
  </div>
  </div>


    

    <div class="span11 link-to-next">
      <%= link_to 'See how it works <i class="icon-circle-arrow-down"></i>'.html_safe, "#", :id => "next3", :class=>"hero-next link-how-it-works" %>
    </div>  
      
  </div>
  </div>
  </div>

  <div class="section intro">
    <div class="container">
    <div class="content">
      <h3 class="white"><a name="how-it-works" class="anchor-navigation white">How it Works</a></h3>
      <div class="row">
        <div class="span3 how-it-works">
          <div class="how-it-works-icons-container">
            <i class="icon-facetime-video icon-4x"></i>
          </div>
          <h3 class="intro multiple-lines">Choose from our collection of Microsoft Excel screencast tutorials.</h3>
        </div>  
        <div class="span3 how-it-works">
          <div class="how-it-works-icons-container">
            <i class="icon-credit-card icon-4x"></i>
          </div>
          <h3 class="intro multiple-lines">Pay in-stream using a credit card or PayPal for our premium screencasts.</h3>
        </div>
        <div class="span3 how-it-works">
          <div class="how-it-works-icons-container">
            <i class="icon-cloud-download icon-4x"></i>   
          </div>
          <h3 class="intro multiple-lines">Download the supporting excel files and templates to any device.</h3>
        </div>
      </div>  
      <div class="next-container">
      <%= link_to 'Learn more about OfficeScholar <i class="icon-circle-arrow-down"></i>'.html_safe, "#", :id => "next5", :class=>"hero-next" %>
      </div>
    </div>
  </div>

</div>
  <div class="section">
    <div class="container">
    <div class="content">  
    <h3 class="dark"><a name="about" class="anchor-navigation">About</a></h3>
    <div class="row">
      <div class="span11">
        <h3>We Teach You Microsoft Excel</h3>
        <p>OfficeScholar specializes in screencast tutorials for beginner and intermediate Excel users.</p>
        <p>Our curriculum takes a fresh approach to an often dull topic, combining principles used by business professionals and academics.  We have carefully designed our lessons and projects to be as efficient as possible, focusing on the areas most critical to being productive with Excel.</p>
        <h3>Meet Your Instructor</h3>
        <p>Pat Vihtelic is the chief instructor and founder of OfficeScholar.  He most recently worked as a technology investment banker for over four years, where he relied heavily on Microsoft Office products.  Pat is a graduate of Indiana University and peer tutored for the Kelley School of Business honors Excel course during college.  He is also a graduate of The Starter League, a Chicago-based program dedicated to teaching web development using Ruby on Rails.</p>
        <h3>Contact for On-Site Employee Training</h3>
        <p>Pat Vihtelic, Chief Instructor and Founder </br>
          <%= mail_to "pat@officescholar.com" %> </br>
          +1 312.379.9677 </br>
          Chicago, IL </br>
        </p>
      </div>
    </div>  
    <div class="span11">
        <div class="end">
          <a class="btn btn-primary btn-large" data-toggle="modal" href="#request-invite">Sign up for updates </a>
        </div>
      </div>  
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>