<div class="row">
  
  <div id="wrapper">
    <div class="section intro">
      <div class="container">
        
        <div class="span4 left-home-container">
          
          <div class="section-title">
            <h2 class="intro logo">OfficeScholar</h2>
            <h4 class="intro">Screencast Tutorials for Corporate Warriors.</h3>
            
            <ul>
              
              <li class="course-summary-list">
                <div class="homepage-icon-left first-homepage-icon-left">
                  <div class="inside-homepage-icon-left">
                    <%= link_to '<i class="icon-play-circle icon-4x"></i>'.html_safe, topics_url %>
                  </div>
                  <div class="inside-homepage-icon-text">
                    <h4 class="inside-homepage-icon-left-heading">Free Excel screencasts.</h4>
                  </div>
                </div>
              </li>

              <li class="course-summary-list">
                <div class="homepage-icon-left">
                  <div class="inside-homepage-icon-left">
                    <%= link_to '<i class="icon-cloud-download icon-4x"></i>'.html_safe, "/users/sign_up" %>
                  </div>
                  <div class="inside-homepage-icon-text">
                    <h4 class="inside-homepage-icon-left-heading">Sample files and skill assessments.</h4>
                  </div>
                </div>
              </li>

              <li class="course-summary-list">
                <div class="homepage-icon-left">
                  <div class="inside-homepage-icon-left">
                    <%= link_to '<i class="icon-lightbulb icon-4x"></i>'.html_safe, "/users/sign_up" %>
                  </div>
                  <div class="inside-homepage-icon-text">
                    <h4 class="inside-homepage-icon-left-heading">Become a productive Excel whiz.</h4>
                  </div>
                </div>
              </li>

              
            </ul>
          </div>
          
          <div class="section-title next refer-next">
          <%= link_to 'Learn About OfficeScholar Employee Training', "#", :class=>"hero-next btn btn-primary btn-large", :id => "next1" %>
          </div>

        </div>

        <div class="span4 right-home-container">
          <% if current_user.nil? %>
          <div class="form-box course-summary course-summary-home">
              <%= render "layouts/signup_form" %>
          </div>
          <% else %> 
            <%= link_to(user_url(current_user.id)) do %>
              <div class="form-box course-summary course-summary-home-signed-in">
                <h5>Hello, <%= current_user.email %>!</h5>
                <p>Click here for to view our Excel Skill Assessments or check your dashboard for progress!</p>
              </div>
            <% end %>  
          <% end %>
          </div>
        
      </div>    
    </div>  

    <div id="sticky-anchor"></div>
    <header class="navbar home-page-navbar" id="sticky">
        <nav class="navbar-inner">
            <div class="container">
              <div class="content">
              <div id="nav" class="pageScrollerNav standardNav right dark">
                <ul class="nav home-page-bottom-nav">
                    <li>
                    <%= link_to '', "", :id => "next0" %>
                    </li>
                    <li>
                    <%= link_to '<h5 class="home-page-nav-headers"><i class="icon-laptop"></i> Corporate Training Solutions</h5>'.html_safe, "#", :id => "next2" %>
                    </li>
                    <li>
                    <%= link_to '<h5 class="home-page-nav-headers"><i class="icon-money"></i> Get Paid For Referring Us</h5>'.html_safe, "#", :id => "next4" %>
                    </li>
                    <li>
                    <%= link_to '<h5 class="home-page-nav-headers"><i class="icon-star"></i> How OfficeScholar Can Help</h5>'.html_safe, "#", :id => "next6" %>
                    </li>
                </ul>
              </div>
              </div>
            </div>
        </nav>
    </header>


    <div class="section" id="our-excel-tutorials">
      <div class="container">
        <div class="content">
        <h1 class="dark after-fixed-nav" id="sticky-header-below">Give Employees Access to Knowledge.</h1>
        <h4>Tailored screencast tutorials for your business.</h4>

        <div class="row">
          <div class="span11 corporate-training-container">
            <div class="span3 left-corporate-training-container">
              <h4 class="left-corportate-training-text">We help you determine what training material you need.</h4>
              <h4 class="left-corportate-training-text">We produce the screencasts and reference files for you.</h4>
              <h4 class="left-corportate-training-text">We host all of the content in a secure repository that your employees can access 24/7.</h4>
            </div>

            <div class="span7 right-corporate-training-container">
              <div id="myElement">Loading the player...</div>
              <script type="text/javascript">
                  $(document).ready(function(){
                    jwplayer("myElement").setup({
                        height: 336,
                        width: 576,
                        file: 'http://s3.amazonaws.com/officescholar/officescholar_promo.m4v',
                        volume: 75,
                        controlbar: "bottom",
                    });              
                  });
              </script>
            </div>


          </div>
        </div>



    

    <div class="span11 link-to-next">
      <%= link_to 'Make Cash by Referring Us to Your Company', "#", :id => "next3", :class=>"btn btn-primary btn-large" %>
    </div>  
      
  </div>
  </div>
  </div>

  <div class="section intro section_3" id="how-it-works">
    <div class="container">
    <div class="content">
      
      <h1 class="dark after-fixed-nav refer-heading" id="sticky-header-below">Get Paid for Helping Us Sign Your Employer</h1>
      <h4 class='refer-heading'>Refer us to a group with 5 employees: $250</h4>
      <h4 class='refer-heading'>Refer us to a group with 10 employees: $500</h4>
      <h4 class='refer-heading'>Refer us to a group with 20 employees: $1,000</h4>
      <h4 class='refer-heading'>Once the one year contract is signed, you will have cash in your pocket.</h4>

      
      <%= mail_to('', "Recommend OfficeScholar to Your Company <i class='icon-envelope-alt icon-large'></i>".html_safe, :cc=>'info@officescholar.com', :subject => 'We Should Try OfficeScholar Corporate Training', :body => 'Hi [enter decision-maker name], I have been using free Excel tutorials by OfficeScholar and thought our company could use their services to help our employees with custom tutorials relevant to our jobs.  OfficeScholar can help us create instructional screencasts tailored to our business processes, securely available on-demand to our employees worldwide for both reference and training purposes.  You can reply all here for more information!  Thanks!', :class=>"btn btn-primary btn-large refer-heading") %>


      <div class="next-container">
      <%= link_to 'Learn more about OfficeScholar <i class="icon-circle-arrow-down"></i>'.html_safe, "#", :id => "next5", :class=>"hero-next" %>
      </div>
    </div>
  </div>

</div>
  <div class="section" id="about">
    <div class="container">
    <div class="content">  
    <h1 class="dark after-fixed-nav" id="sticky-header-below">Training Resources and Excel Skill Assessments</h1>
    <h4>Don't let your employees struggle with software - show them how to use it!</h4>
    <div class="row">
      <div class="span11 training-resources-and-skill-assessments-first">
        <div class="span5">
          <h4>Secure Access</h4>
          <p>Dedicated domain with employee authentication.  Just give a list of email addresses and we'll set up your company's portal.</p>

          <h4>Available 24/7</h4>
          <p>Employees can reference helpful screencasts and training material on-demand from anywhere in the world.</p>
        </div>
        <div class="span5 screenshot first-screenshot">

        </div>
      </div>
    </div>  

    <div class="row">
      <div class="span11 training-resources-and-skill-assessments">
        <div class="span5 screenshot second-screenshot">
          
        </div>
        <div class="span5">
          <h4>Screencast Tutorials and Reference Material</h4>
          <p>Video tutorials and reference files tailored to your business.  Give your employees an easy way to master their software skills using files relevant to their job.</p>

          <h4>Optional Wiki</h4>
          <p>Get employees engaged with reference material they can update to help others facing similar problems.</p>

        </div>
      </div>
    </div>  

    <div class="row">
      <div class="span11">
        <div class="span5">
          <h4>Proprietary Excel-Based Skill Assessments</h4>
          <p>Test a candidate's job readiness before hiring.  We can create a skill assessment appropriate for the position.  After the candidate securely submits the Excel-based skill assessment, we'll email you the results immediately.</p>
        </div>
        <div class="span5 screenshot third-screenshot">

        </div>
        
      </div>
    </div>  
    
    </div>
    </div>

    </div>
    </div>
  </div>