<%= link_to "OfficeScholar", root_path, :class => 'brand' %>

<div id="nav" class="pageScrollerNav standardNav right dark">
<ul class="nav">
    <li>
    <%= link_to '', "", :id => "next0" %>
    </li>
    <li>
    <%= link_to 'Our Excel Tutorials', "#", :id => "next2" %>
    </li>
    <li>
    <%= link_to 'How it Works', "#", :id => "next4" %>
    </li>
    <li>
    <%= link_to 'About', "#", :id => "next6" %>
    </li>
</ul>
</div>