<%= link_to "OfficeScholar", root_path, :class => 'brand' %>

<% if @home_banner %>

    <div id="nav" class="pageScrollerNav standardNav right dark">
    <ul class="nav">
        <li>
        <%= link_to '', "", :id => "next0" %>
        </li>
        <li>
        <%= link_to 'Our Excel Tutorials', "#", :id => "next2" %>
        </li>
        <li>
        <%= link_to 'How it Works', "#", :id => "next4" %>
        </li>
        <li>
        <%= link_to 'About', "#", :id => "next6" %>
        </li>
    </ul>
    </div>

<% else %>    

    <ul class="nav">
        <li>
        <%= link_to '' %>
        </li>
        <li>
        <%= link_to 'Our Excel Tutorials', root_path(:controller => "home", :anchor => "our-excel-tutorials") %>
        </li>
        <li>
        <%= link_to 'How it Works', root_path(:controller => "home", :anchor => "how-it-works") %>
        </li>
        <li>
        <%= link_to('About', root_path(:controller => 'home', :anchor => 'about')) %>
        </li>
    </ul>

<% end %>

<ul class="nav pull-right">
        <% if signed_in? %>
          <li class="nav-rightside">
          <small><%= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"btn btn-small logout") %></small>
          </li>
        <% else %>
          <li class="nav-rightside">
          <small><%= link_to('Login', new_user_session_path, :class=>"btn btn-small logout") %></small>
          </li>
        <% end %>

        <% if signed_in? %>
          <li class="nav-rightside">
          <small><%= link_to("Dashboard <i class='icon-cog'></i>".html_safe, "/users/#{current_user.id}", :class=>"btn btn-primary btn-small") %></small>
          </li>
        <% else %>
          <li class="nav-rightside">
          <small><%= link_to('Sign Up', new_user_registration_path, :class=>"btn btn-primary btn-small")%></small>
          </li>
        <% end %>
</ul>     