<%= link_to "OfficeGeek", root_path, :class => 'brand' %>

<div id="nav" class="pageScrollerNav standardNav right dark">
<ul class="nav">
    <li>
    <%= link_to 'Overview', "#" %>
    </li>
    <li>
    <%= link_to 'Program Detail', "#" %>
    </li>
    <li>
    <%= link_to 'Link 2', "#" %>
    </li>
    <li>
    <%= link_to 'Link 3', "#" %>
    </li>
  </ul>
</div>