<%= link_to "OfficeGeek", root_path, :class => 'brand' %>

<div id="nav" class="pageScrollerNav standardNav right dark">
<ul class="nav">
    <li>
    <%= link_to 'Signup', "#" %>
    </li>
    <li>
    <%= link_to 'Microsoft Office Courses', "", :id => "next1" %>
    </li>
    <li>
    <%= link_to 'Instructor-Led Curriculum', "#" %>
    </li>
    <li>
    <%= link_to 'Additional Information', "#" %>
    </li>
  </ul>
</div>