<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "OfficeGeek" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Officegeek" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- LINK PAGE SCROLLER PRO JS FILE -->
    <script type="text/javascript" src="/assets/jquery.pagescroller.lite.js"></script>
    <!-- / -->

    <script type="text/javascript">
    
    $(document).ready(function(){
      
      // initiate page scroller plugin
      $('#wrapper').pageScroller({
        navigation: '#nav'
        navigation: '#next'
      });
            
    });
      
    </script>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
        <footer>
        </footer>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
