<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "OfficeScholar" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "OfficeScholar" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="/jwplayer/jwplayer.js"></script>
    <script src="/jwplayer/jwplayer.html5.js"></script>
    <script src="/jwplayer/jwplayer.flash.swf"></script>
    <script>jwplayer.key="Ny0ULECTn/leiDO5DWvbTxiREwygKBwja+I3EQ=="</script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    
    

    <!-- LINK PAGE SCROLLER PRO JS FILE -->
    <script type="text/javascript" src="/assets/jquery.pagescroller.lite.js"></script>
    <!-- / -->

    <% if @home_banner %>

    <script type="text/javascript">
    
    $(document).ready(function(){
      
      // initiate page scroller plugin
      $('#wrapper').pageScroller({
        navigation: '#nav'
      });

      $('#next1').click(function(e) 
      {
        $('#next2').click()
          e.preventDefault();
      });

      $('#next1bottom').click(function(e) 
      {
        $('#next2').click()
          e.preventDefault();
      });

      $('#next1bottom2').click(function(e) 
      {
        $('#next2').click()
          e.preventDefault();
      });

      $('#next3').click(function(e) 
      {
        $('#next4').click()
          e.preventDefault();
      });

      $('#next5').click(function(e) 
      {
        $('#next6').click()
          e.preventDefault();
      });

      if($('#file-field').val() ==  "") 
         $('#submitButtonId').attr('disabled', true);

      $('#text-field').keyup(function(){
            if($('#file-field').val() !=  "") 
                 $('#submitButtonId').attr('disabled', false);    
        else
           $('#submitButtonId').attr('disabled', true);   
      });

    });
      
    </script>

    <% end %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37578376-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <meta name="google-site-verification" content="looaFySM_2Oi0f3CY9bTsFbDuWpC4ENVm2-x0TY8U-Q" />

    <%= yield(:head) %>
  </head>
  <div id="getsat-widget-4978"></div>
    <script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
    <script type="text/javascript">
    if (typeof GSFN !== "undefined") { GSFN.loadWidget(4978,{"containerId":"getsat-widget-4978"}); }
    </script>
  <body class="<%= controller_name %> <%= action_name %>">
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      
        <%= render 'layouts/messages' %>
        <%= yield %>
        <footer>
            <div class="footer-container">
              <div class="container">
                <ul class="footer-list">
                  <li class="footer-list"><%= link_to "FAQ", faq_url %></li>
                  <li class="footer-list"><%= link_to "Privacy Policy", "/privacy_policy" %></li>
                </ul>
                <ul>
                  <li class="footer-list-below">&#169; OfficeScholar, 2013.  Some rights reserved.</li>
                </ul>
              </div>    
            </div>
        </footer>
      
    </div> <!--! end of #main -->
  </body>
</html>
